.App {
  background-color: rgb(104, 197, 213);
  min-height: 100vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

}

.text-div {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 50%;
  text-align: center;
  height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.text-div textarea {
  height: 10em;
  width: 20em;
  border: 1px solid rgb(104, 197, 213);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}

.text-div button {
  background-color: rgb(104, 197, 213);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  cursor: pointer;
  width: 8em;
}

.suggestion-div {
  background-color: rgb(203, 139, 139);
  padding: 20px;
  width: 50%;
  text-align: center;
  height: 100%;
  min-height: 100vh;
}




